
#main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
 
margin:50px !important;
background-color:white;
}
body {
  background-color: gray;
}

.todoImg{
  width:125px;
  height:125px;
  margin-top:20px;
}
.inner{
  display: flex;
}
div.relative {
display:flex;
width: 600px;
height: 650px;

}
#my-value{
width:500px;
height:35px;
border: 3px black solid;
border-radius: 0px;
}
.form-label{
margin-top: 4px;
}

#absolute {
height: 35px;
border: 3px black solid;
width: 50px;
}
.btn{
border-radius: 0;
padding: 2px;
font-weight: bold;
}
.form-label{
  font-weight:bold;
}
