
#main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
 
margin:50px !important;
background-color:white;
}
body {
  background-color: gray;
}

.todoImg{
  width:125px;
  height:125px;
  margin-top:20px;
}
.inner{
  display: flex;
}
div.relative {
display:flex;
width: 600px;
height: 650px;

}
#marg{
  margin-top:2px;
 }

#my-value{
width:500px;
height:35px;
border: 3px black solid;
border-radius: 0px;
padding:7px;
}
.form-label{
margin-top: 20px;
font-size:25px;
margin-bottom: 20px;

}
#ol{
 text-align:left;

 margin:1em auto;
}
.fly{
  display:flex;
}
i{
  margin-left:5px;
}
.fa-trash:hover{
  color:red;
}
li{
  margin-left:-560px;
  font-weight:bold;
  background-color:white;
  border:2px solid white;
  font-size:25px;
  width:600px;
}
#absolute {
height: 35px;
border: 3px black solid;
width: 50px;
}
.btn{
border-radius: 0;
padding: 2px;
font-weight: bold;
}
.form-label{
  font-weight:bold;
}
